<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389015892805-f4s6r2qe42bm3f1agl1nr7li696a8soh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389015892805-f4s6r2qe42bm3f1agl1nr7li696a8soh</string>
	<key>API_KEY</key>
	<string>AIzaSyA2jyP6NI1SvnXNiluiFTQRFtyuECFVTso</string>
	<key>GCM_SENDER_ID</key>
	<string>389015892805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.practicedevelopment.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-63cb7</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-63cb7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389015892805:ios:766f18ea8f36d021ca842c</string>
</dict>
</plist>